<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AutloLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E37379E01F2D5380001D3C67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E37379F41F2D5381001D3C67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E37379FF1F2D5381001D3C67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
